@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 262.12, 83.26%, 57.84%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 262.12, 83.26%, 57.84%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .heading-hero-title {
    @apply text-[36px] font-black leading-[43px] sm:text-[64px] sm:leading-[77px];
  }
  .heading-section-title {
    @apply text-[32px] font-bold leading-[38px] sm:text-[40px] sm:leading-[48px];
  }
  .body-large-bold {
    @apply text-[18px] font-bold leading-[19px] sm:text-[20px] sm:leading-[32px];
  }
  .body-large-medium {
    @apply text-[18px] font-medium leading-[29px] sm:text-[20px] sm:leading-[32px];
  }
  .body-medium-bold {
    @apply text-[16px] font-bold leading-[26px] sm:text-[18px] sm:leading-[29px];
  }
  .body-medium-medium {
    @apply text-[16px] font-medium leading-[26px] sm:text-[18px] sm:leading-[29px];
  }
  .body-small-bold {
    @apply text-[14px] font-bold leading-[22px] sm:text-[16px] sm:leading-[26px];
  }
  .body-small-medium {
    @apply text-[14px] font-medium leading-[22px] sm:text-[16px] sm:leading-[26px];
  }
  .caption-bold {
    @apply text-[12px] font-bold leading-[19px] sm:text-[14px] sm:leading-[22px];
  }
  .caption-medium {
    @apply text-[12px] font-medium leading-[19px] sm:text-[14px] sm:leading-[22px];
  }
  .link-small {
    @apply text-[14px] font-medium leading-[22px] sm:text-[16px] sm:leading-[26px];
  }
}

.dot {
  content: "";
  animation: dotScroll 16s linear infinite;
  background-image: radial-gradient(
    circle,
    #2e3c51 var(--dot-size),
    transparent 0
  );
  background-size: calc(14.2857142857% - 1px) 100px;
  background-position: 5px 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dot {
  --dot-size: 1.25px;
}

.shine {
  background-image: radial-gradient(
    200px 100px at 50%0,
    #131f33 20%,
    rgba(19, 30, 49, 0) 100%
  );
}

@media (min-width: 400px) {
  .dot {
    max-width: 400px;
  }
}

@media (min-width: 640px) {
  .dot {
    --dot-size: 2px;
  }

  .dot {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .dot {
    background-size: calc(8.3333333333% - 1px) 140px;
    max-width: 768px;
  }
  .shine {
    background-image: radial-gradient(
      500px 200px at 50%0,
      #131f33 20%,
      rgba(19, 30, 49, 0) 100%
    );
  }
}

@media (min-width: 1024px) {
  .dot {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .dot {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .dot {
    max-width: calc(100vw - 20%);
  }
}

@keyframes dotScroll {
  0% {
    background-position-y: 140px;
  }
  100% {
    background-position-y: 0;
  }
}
